.card {
  margin: 20px;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 20px 15px;
  display: flex;
  background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
  cursor: pointer;
}

.card-id {
  text-align: right;
  font-size: 0.8rem;
}

.card-img-top {
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.card-title {
  text-align: center;
}

.card:hover {
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 600px) {
  .card {
    font-size: 0.7rem;
    width: 80%;
  }

  .card-title {
    font-size: 0.8rem;
  }
}
